*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: column;
		 background-size: cover; 
	background-attachment: fixed;
}
section h1{
	padding-left: 80px;
	color: #fff;
	font-weight: 800;
	font-size: 4em;
	padding-top: 200px;
}
section h1 span{
	color: #f87c00;
	font-size: 1em;
}
section p{
	color: #fff;
	font-size: 1.5em;
	padding-left: 80px;

}
header{
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px 30px;
	display: flex;
	align-items: center;
    background: transparent;
	justify-content: space-between;
	height: 20px;
}
header button{
	background: none;
	border: none;
	color: #fff;
	margin: 30px;
	font-size: 1.2em;
	border: solid 2px #f87c00;
	height: 30px;
	width: 100px;
	border-radius: 50px;
}
header button:hover{
	background-color: #f87c00;
	color: #fff;
	border-radius: 50px;
	width: 100px;
	height: 30px;
}
.back-video{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
@media (min-aspect-ratio: 16/9){
	.back-video{
		width: 100%;
		height: auto;
	}
}
header .logo{
	color: white;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 1px;
}
header .nevigation a{
	color: #fff;	
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 2px 15px;
	border-radius: 2px;
}
header .nevigation a:not(:last-child){
	margin-right: 30px;
}
header .nevigation a:hover{
	color: #f87c00;
}
.content{
	padding-top: 10px;
	padding: 8px 8px;
	text-transform: uppercase;
}
label .close-btn{
	display: none;
}
label .menu-btn{
	display: none;
	text-align: right;
}
label :hover{
	color: #fff;
}
#check{
	z-index: 3;
	display: none;
}
.text{
	text-align: center;
	padding-top: 300px;
	        
}
/*Responsive style*/

@media (max-width: 735px){
	header .nevigation{
		display: none;
		transition: 0.4s;
	}
	header .nevigation a{
		color: #333;
	}
	header .nevigation a:hover{
		background-color: #f87c00;
		color: #fff;
	}
	label{
		display: block;
		font-size: 25px;
		cursor: pointer;
		transition-property: color;
		text-transform: uppercase;               
		
	}
	label .close-btn{
		display: none;
		color: #fff;
		transition: 0.2s;
	}
	label .menu-btn{
		display: block;
		color: #fff;
	}
	#check:checked ~ header .nevigation{
		z-index: 2;
		position: fixed;
		background: black;
		top: 0px;
		bottom: 0;
		left: 0%;
		right: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		transition: width 6s;

	}
	#check:checked ~ header .nevigation a{
		font-weight: 700;
		margin-right: 0;
		margin-bottom: 50px;
		letter-spacing: 2px;
		transition: 0.4s;
		color: #fff;
		
	}
	#check:checked ~ header label .menu-btn{
		display: none;
	}
	#check:checked ~ header label .close-btn{
		z-index: 2;
		display: block;
	}
	
}
@media (max-aspect-ratio: 16/9){
	.back-video{
		width: 100%;
		height: auto;
	}
}
.header2{
	background-color: #333;
	height: 70vh;
}
.body-content h3{
	color: #f87c00;
	padding-top: 40px;
	padding-left: 50px;
	font-size: 2.5em;
	font-weight: 600;
}
.body-content p{
	color: #fff;
	padding-left: 50px;
	text-align: justify;
	font-size: 1.2em;
}
.body-content img{
	width: 100%;
	padding-right: 50px;
	padding-top: 50px;
	filter: drop-shadow(0.0.0.99rem #000000);
}